$main-bg-color: $color-white-green;
$border-color: $color-black;

.main {
  width: 100%;
  @include flex(column);
  border: .1rem solid $border-color;
  border-bottom: none;
  background-color: $main-bg-color;
  flex: 1;

  &__form {
    padding:.5rem;
    height: 5.3rem;
  }

  &__stripe {
    flex: 1;
  }
}